---
import { getEntry } from 'astro:content';

export async function getStaticPaths() {
  // Aquí pones la lista de slugs que querés generar
  // Por ejemplo, podrías leer archivos markdown o consultar una API

  const posts = [
    { params: { slug: 'post' } },
    { params: { slug: 'post-1' } },
    // etc...
  ];

  return posts;
}

const { slug } = Astro.params;

if (!slug) throw new Error("Slug faltante");

const post = await getEntry("blog", slug);

if (!post) throw new Error(`Post con slug '${slug}' no encontrado`);

const { Content } = await post.render();
---

<article>
    <h1>{post.data.title}</h1>
    <p><em>{post.data.date.toLocaleDateString()} </em></p>
    <Content />
  </article>
